<ul class="list-reset merri text-grey-darkest leading-normal pb-5 flex flex-col">
  <% collection.each do |link| %>
  <li class="mb-2 mt-2">
    <a href="<%= link["url"] %>" class="text-black bg-yellow-lightest no-underline text-sm lora leading-normal py-1 font-bold">
      <%= link["title"] %>
    </a>

    <% if link["excerpt"] %>
      <p class="mt-1 readability text-grey-dark text-sm">
        <%= link["excerpt"] %>
      </p>
    <% end %>
  </li>
  <% end %>
</ul>