<h2 class="lora text-xl text-black font-normal leading-normal mt-5">
  <%= title %>
</h2>

<% if description %>
  <p class="merri mt-1 readability text-grey-dark text-sm leading-normal">
    <%= description%>
  </p>
<% end %>