::selection {
  background-color: #50E3C2;
  color: #000;
}

html,body,.bg-white {
  background: #000;
}

.text-black {
  color: rgba(255,255,255,0.9);
}

.text-grey-darkest {
  color:#8795a1;
}

.bg-yellow-lightest {
  background: #002F33;
}

img.can-invert{
  -webkit-filter: invert(1);
   filter: invert(1);
   opacity: 1;
}