html,
body {
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: #222;
}

.gutter {
  width: 110px;
}

p a, li a, a.hilite {
  font-weight: 600;
  background-image: linear-gradient(to bottom, white 50%, greenyellow 50%);
  transition: background-position 1s;
}

p a:hover, a:hover {
  background-position: 50% 50%;
}

.font-fancy {
  font-family: 'Playfair Display', serif;
}

.font-mono {
  font-family: 'DM Mono', monospace;
}

article p {
  width: 85%;
}

@media (prefers-color-scheme: dark) {
  html,body {
    background: #000;
    color: #fff;
  }

  p a, li a{
    font-weight: 600;
    background-image: linear-gradient(to bottom, black 50%, rgba(255, 78, 1, 0.4) 50%);
    transition: background-position 1s;
  }

  .text-gray-700 {
    color: rgba(160,174,192,1)
  }

  .social img {
    filter: invert();
    opacity: 0.6;
  }
}
