html,
body {
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: #222;
}

.gutter {
  width: 110px;
}

p a, li a{
  font-weight: 600;
  background-image: linear-gradient(to bottom, white 50%, greenyellow 50%);
  transition: background-position 1s;
}

p a:hover, a:hover {
  background-position: 50% 50%;
}

.font-fancy {
  font-family: 'Playfair Display', serif;
}

.font-mono {
  font-family: 'DM Mono', monospace;
}

article p {
  width: 95%;
}

@media (prefers-color-scheme: dark) {

}
