html,
body {
  -webkit-font-smoothing: antialiased;
}

.lora {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.merri {
  font-family: "Bitter", serif;
}

.readability {
  max-width: 90%;
}

.avatar {
  height: 108px;
  width: 108px;
}

::selection {
  background: #d7fff6;
  color: rgba(0, 0, 0, 0.9);
}

@media (prefers-color-scheme: dark) {
  ::selection {
    background-color: #50e3c2;
    color: #000;
  }

  html,
  body,
  .bg-white {
    background: #000;
  }

  .text-black {
    color: rgba(255, 255, 255, 0.9);
  }

  .text-grey-darkest {
    color: #8795a1;
  }

  .bg-yellow-lightest {
    background: #002f33;
  }

  img.can-invert {
    -webkit-filter: invert(1);
    filter: invert(1);
    opacity: 1;
  }
}
