html,body {
  -webkit-font-smoothing: antialiased;
}

.lora {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.merri {
  font-family: 'Bitter', serif;
}

.readability {
  max-width: 90%;
}

.avatar {
  height: 108px;
  width: 108px;
}