<html>

<head>
	<title>Alasdair Monk @almonk</title>
	<link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/static/css/light.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Alasdair Monk is a product designer">
</head>

<body>
	<div class="bg-white container mx-auto max-w-lg px-4 pt-10 pb-10">
		<div class="relative">
			<div class="bg-grey rounded-full h-24 w-24 flex items-center justify-center mb-5 overflow-hidden">
				<img src="/static/images/me5.jpg" alt="">
			</div>

			<div class="absolute ml-16 top-0 mt-2 bg-grey rounded-full h-24 w-24 flex items-center justify-center mb-5 overflow-hidden blend">
				<img src="/static/images/am-logo.svg" alt="">
			</div>
		</div>

		<h1 class="lora text-xl text-black font-bold leading-normal mt-8">Alasdair Monk</h1>
		<h2 class="lora text-xl text-black font-normal leading-normal">Digital Product Designer &amp; Developer</h2>
		<div class="merri text-grey-darkest text-l mt-5 leading-normal pb-5 blog">
			<%= content %>
    </div>
	</div>
</body>
</html>