<html>
  <head>
    <title>Alasdair Monk @almonk</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://unpkg.com/pyloncss@latest/css/pylon.css"/>
    <link rel="stylesheet" href="static/css/light.css">
    <link href="https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,400;0,500;1,400;1,500&family=Playfair+Display:ital,wght@0,600;1,500&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Alasdair Monk is a Product Designer">
  </head>
  <body class="max-w-3xl mx-auto mt-20 mb-40 px-4">
    <hstack>
      <div class="gutter hidden md:block flex-shrink-0 flex justify-end pr-6">
        <img src="/static/images/me3.jpg" class="rounded-full" style="height:86px; width:86px;">
      </div>
      <vstack align-y="center" class="mw text-xl font-fancy">
        <h1 class="text-2xl font-bold -mb-1">Alasdair Monk</h1>
        <h2 class="text-2xl text-gray-500">
          User Experience Architect
        </h2>
      </vstack>
    </hstack>
    <hstack align-y="top" class="pt-4 mt-4">
      <div class="gutter hidden md:block flex-shrink-0 text-md text-gray-500 text-left pr-10 leading-6">
      </div>
      <article class="text-gray-700">
        <p class="mb-4 leading-6 text-md font-bold">I’m a UX Architect with 12 years of experience designing, engineering and architecting superior user experiences, most notably for developers and technical audiences.</p>
        <p class="mb-4 leading-6 text-md">My skill set of design craft, storytelling, programming &amp; technical knowledge helps me address problems, big or small. I am comfortable with the macro and the micro. From prototyping ambitious new features to creating visions for entire new product lines. I thrive on ambiguity, uncharted territory and starting something from scratch.</p>
        <p class="mb-4 leading-6 text-md">I&#39;m on a mission to make  computers more approachable by building things for makers. All too often computers become a hindrance to our creativity rather than conduits of it. My work aims to change that.</p>
      </article>
    </hstack>
    <hstack align-y="top" class="mt-8">
      <div class="gutter hidden md:block flex-shrink-0 text-md text-gray-500 text-left pr-10 leading-6">
      </div>
      <article class="text-gray-700">
        <div class="font-semibold mb-1 text-sm uppercase">
          Experience
        </div>
        <div>
          <div class="font-semibold mt-8 mb-1 text-md">
            UX Architect, Heroku/Salesforce
          </div>
          <div class="font-semibold text-gray-500 mb-1 text-md">
            January 2015 &mdash; Present
          </div>
        </div>
        <div class="text-gray-700 leading-6 mb-1 text-md">
          From creating brand new product lines to architecting APIs, my work at Salesforce spans design, product strategy and engineering. Some of my notable work includes;
          <ul class="list-disc">
            <li class="mb-2 my-2 ml-10">
              Collaborated with engineering and product leadership to architect and design the new Salesforce Functions product
            </li>
            <li class="mb-2 my-2 ml-10">
              Worked directly with Salesforce co-founder on a project to rethink internal Developer Experience
            </li>
            <li class="mb-2 my-2 ml-10">
              Sole creator of a novel patent for building full-stack apps using a simple but powerful domain specific language (“Generation Of Application Based On Declarative Specification” US46057)
            </li>
            <li class="mb-2 my-2 ml-10">
              Conceived of ways to rally the company around a vision through compelling storytelling. I have spoken at mutliple internal company conferences to inspire teams on where we're heading
            </li>
            <li class="mb-2 my-2 ml-10">
              Led the creation of <a href="http://design.herokai.com/">Heroku’s Design Toolset</a>, featured on multiple blogs and sites as an example of best practice design systems
            </li>
            <li class="mb-2 my-2 ml-10">
              Designed and built Xray, an internal design sharing tool for Salesforce and used by hundreds of designers, PMs and engineers. I later wrote why and <a href="https://medium.com/@almonk/designing-building-our-design-toolchain-740aa290633c">how we built it</a>
            </li>
            <li class="mb-2 my-2 ml-10">
              Led the redesign and feature development for the new Heroku Dashboard product
            </li>
            <li class="mb-2 my-2 ml-10">
              Evolving Heroku for Enterprise from a concept product into a production-ready one. Allowing, for the first time, large contracts to be signed with customers
            </li>
          </ul>
          On a day to day basis my responsibilities include;
          <ul class="list-disc">
            <li class="mb-2 my-2 ml-10">
              Authoring future-looking visions for our Developer Experience products in collaboration with engineering & product leadership
            </li>
            <li class="mb-2 my-2 ml-10">
              Rapidly designing & prototyping on that vision to make ideas more tangible
            </li>
            <li class="mb-2 my-2 ml-10">
              Presenting on initiatives and vision to C-Suite executives
            </li>
            <li class="mb-2 my-2 ml-10">
              Mentoring and supporting multiple principal, lead and senior designers
            </li>
          </ul>
        </div>
        <div class="font-semibold mt-8 mb-1 text-md">
          Co-founder &amp; Technology Lead, Replay Software
        </div>
        <div class="font-semibold text-gray-500 mb-1 text-md">
          March 2020 – Present
        </div>
        <p class="text-gray-700 leading-6 mb-1 text-md">
          In my spare time I collaborate with Hector Simpson on making beautiful, simple apps for makers who use Macs. Our first app, <a href="https://umbra.replay.software">Umbra</a>, was released on a “pay what you like” model and has seen thousands of downloads. It was the #1 mac app on Product Hunt on launch day.
          <ul class="list-disc">
            <li class="mb-2 my-2 ml-10">
              Close collaboration with the co-founder & head of product of stock image site Unsplash, to bring their huge catalogue of images to Umbra
            </li>
            <li class="mb-2 my-2 ml-10">
              Sole programmer for two macOS apps using the new SwiftUI programming language
            </li>
            <li class="mb-2 my-2 ml-10">
              Our apps have been featured by Gumroad, Unsplash, Product Hunt, Hack News and consistently receive five star reviews
            </li>
          </ul>
        </p>
        <div class="font-semibold mt-8 mb-1 text-md">
          Head of Design, GoCardless
        </div>
        <div class="font-semibold text-gray-500 mb-1 text-md">
          November 2012 – January 2015
        </div>
        <div class="text-gray-700 leading-6 mb-1 text-md">
          I joined GoCardless as one of the first employees and helped grow the company from 8 to 100+ employees in just three years.
          <ul class="list-disc">
            <li class="mb-2 my-2 ml-10">
              Conceived of the very first GoCardless product and worked to quickly design, build and validate it with customers
            </li>
            <li class="mb-2 my-2 ml-10">
              Architected and designed the first GoCardless product including user facing GUI, Developer Console & Documentation and our developer-facing API
            </li>
            <li class="mb-2 my-2 ml-10">
              Hired and led a team of 3 front-end engineers and 2 designers
            </li>
            <li class="mb-2 my-2 ml-10">
              Architected and designed the GoCardless Enterprise experience which brought the same Developer Experience that our customers loved to our larger clients
            </li>
          </ul>
        </div>
        <div class="font-semibold mt-8 mb-1 text-md">
          Product Designer & Web Developer, Self-employed
        </div>
        <div class="font-semibold text-gray-500 mb-1 text-md">
          November 2011 – November 2012
        </div>
        <div class="text-gray-700 leading-6 mb-1 text-md">
          I worked with my own clients to design, build and consult on web and mobile apps.
          <ul class="list-disc">
            <li class="mb-2 my-2 ml-10">
              Designed & built multiple sites on the Wordpress CMS as well as developing custom solutions for clients such as Soho House, Anorak Magazine, upmysport and SuperHi
            </li>
            <li class="mb-2 my-2 ml-10">
              Consulted with start-ups on how they could approach digital solutions to business problems and inefficiencies
            </li>
          </ul>
        </div>
        <div class="font-semibold mt-8 mb-1 text-md">
          Product Designer, With Associates
        </div>
        <div class="font-semibold text-gray-500 mb-1 text-md">
          August 2010 – November 2011
        </div>
        <div class="text-gray-700 leading-6 mb-1 text-md">
          I worked at prestigious London-based digital studio With Associates as a product designer on some of the world's best loved brands.
          <ul class="list-disc">
            <li class="mb-2 my-2 ml-10">
              Led the redesign and reimagining of With Associate’s custom Content Management System “Slices”, used by all their clients
            </li>
            <li class="mb-2 my-2 ml-10">
              Designed and built multiple web apps and websites for leading brands such as Vitsoe, Soho House and Iceland
            </li>
            <li class="mb-2 my-2 ml-10">
              Quickly upskilled in Ruby and Javascript to enable closer collaboration with engineering peers
            </li>
          </ul>
        </div>
        <div class="font-semibold mt-8 mb-1 text-md">
          Creative Technologist, Work Club
        </div>
        <div class="font-semibold text-gray-500 mb-1 text-md">
          September 2008 – August 2009
        </div>
        <div class="text-gray-700 leading-6 mb-1 text-md">
          I worked at digital advertising startup Work Club, since acquired by Havas. I was responsible for bringing technical solutions to creative proposals.
          <ul class="list-disc">
            <li class="mb-2 my-2 ml-10">
              Collaborated closely with Nokia UK to share learnings and insight on the then new Android Operating System
            </li>
            <li class="mb-2 my-2 ml-10">
              Worked with multiple international brands on building websites, apps and outdoor experiences including Sony Music, Sky TV and Formula 1
            </li>
            <li class="mb-2 my-2 ml-10">
              Led the redesign and development of Work Club’s new website
            </li>
          </ul>
        </div>
      </article>
    </hstack>
    <hstack align-y="top" class="mt-12">
      <div class="gutter hidden md:block flex-shrink-0 text-md text-gray-500 text-left pr-10 leading-6">
      </div>
      <article class="text-gray-700">
        <div class="font-semibold mb-1 text-sm uppercase">
          Education
        </div>
        <div class="font-semibold mt-8 mb-1 text-md">
          BSc Information Technology and Human Computer Interaction
        </div>
        <div class="font-semibold mb-1 text-md">
          University of Reading, UK
        </div>
        <div class="font-semibold text-gray-500 mb-1 text-md">
          Graduated 2010
        </div>
        <div class="mb-1 text-md">
          First Class with Honours
        </div>
      </article>
    </hstack>
    <hstack align-y="top" class="mt-12">
      <div class="gutter hidden md:block flex-shrink-0 text-md text-gray-500 text-left pr-10 leading-6">
      </div>
      <article class="text-gray-700">
        <div class="font-semibold mb-1 text-sm uppercase">
          Featured
        </div>
        <div class="flex flex-col flex-wrap">
          <div class="mt-2">
            <div class="flex items-start pr-6">
              <img src="/static/images/press-bbc.png" alt="" style="height:48px">
              <div class="flex items-start flex-col">
                <a class="hilite" class="mt-2 mb-1 text-md font-semibold" href="https://www.bbc.co.uk/news/business-25037653">
                  How do game companies share massive files?
                </a>
                <div class="text-md">
                  My novel approach to huge file sharing at GoCardless was covered by BBC&nbsp;News.
                </div>
              </div>
            </div>
          </div>
          <div class="mt-8">
            <div class="flex items-start pr-6">
              <img src="/static/images/press-net.png" alt="" style="height:48px">
              <div class="flex items-start flex-col">
                <a class="hilite" href="https://medium.com/net-magazine/blame-your-tools-737fd36b3209" class="mt-2 mb-1 text-md font-semibold">
                  Blame your tools
                </a>
                <div class="text-md">
                  A piece I wrote about the potential for design tools. Originally published in the printed magazine
                </div>
              </div>
            </div>
          </div>
          <div class="mt-8">
            <div class="flex items-start pr-6">
              <img src="/static/images/press-fsr.png" alt="" style="height:48px">
              <div class="flex items-start flex-col">
                <a class="hilite" href="https://toppodcast.com/podcast_feeds/full-stack-radio/" class="mt-2 mb-1 text-md font-semibold">
                  Episode 128 Alasdair Monk - Scaling CSS at Heroku with Utility Classes
                </a>
                <div class="text-md">
                  I spoke with Adam Wathan, creator of Tailwind, about how we deployed our design tooling at Heroku
                </div>
              </div>
            </div>
          </div>
          <div class="mt-8">
            <div class="flex items-start pr-6">
              <img src="/static/images/press-metro.png" alt="" style="height:48px">
              <div class="flex items-start flex-col">
                <a class="hilite" href="https://metro.co.uk/2013/02/25/london-commuters-lines-iphone-app-reaches-chart-no-2-3511748" class="mt-2 mb-1 text-md font-semibold">
                  London commuter’s ‘Lines’ iPhone App reaches chart No 2
                </a>
                <div class="text-md">
                  My iOS app for the London Underground became the #2 most downloaded app in the country
                </div>
              </div>
            </div>
          </div>
        </div>
      </article>
    </hstack>
    <hstack align-y="top" class="mt-16">
      <div class="gutter hidden md:block flex-shrink-0 text-md text-gray-500 text-left pr-10 leading-6">
      </div>
      <article class="text-gray-700">
        <div class="font-semibold mb-1 text-sm uppercase">
          Side Projects
        </div>
        <p class="mb-4 leading-6 text-md">
          I like to make stuff in my spare time, below are some of the things I'm most proud of;
        </p>
        <ul>
          <li class="mb-2 text-md">
            <a href="https://almonk.github.io/pylon/" class="">Pylon</a> &mdash;
            <span class="italic">powerful layout utilities for CSS</span>
          </li>
          <li class="mb-2 text-md">
            <a href="https://github.com/almonk/royo" class="">Royo</a> &mdash;
            <span class="italic">A self-hosted, configurable icons as a service server</span>
          </li>
          <li class="mb-2 text-md">
            <a href="https://github.com/almonk/bind" class="">Bind</a> &mdash;
            <span class="italic">An experimental design tool <span class="text-gray-500">(2016, Retired)</span></span>
          </li>
          <li class="mb-2 text-md">
            <a href="https://github.com/almonk/scribe" class="">Scribe</a> &mdash;
            <span class="italic">CSS documentation generator used in purple3 <span class="text-gray-500">(2018, Retired)</span></span>
          </li>
          <li class="mb-2 text-md">
            <a href="https://github.com/almonk/edamame" class="">Edamame</a> &mdash;
            <span class="italic">A GUI for Heroku local <span class="text-gray-500">(2018, Retired)</span></span>
          </li>
        </ul>
      </article>
    </hstack>
    <script>
      function footerApp() {
      
      }
    </script>
  </body>
</html>
