<html>
  <head>
    <title>Alasdair Monk @almonk</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://unpkg.com/pyloncss@latest/css/pylon.css"/>
    <link rel="stylesheet" href="static/css/light.css">
    <link href="https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,400;0,500;1,400;1,500&family=Playfair+Display:ital,wght@0,600;1,500&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Alasdair Monk is a Product Designer">
  </head>
  <body class="max-w-3xl mx-auto mt-20 mb-40 px-4">
    <hstack>
      <div class="gutter hidden md:block flex-shrink-0 flex justify-end pr-6">
        <img src="/static/images/me5.jpg" class="rounded-full" style="height:86px; width:86px;">
      </div>
      <vstack align-y="center" class="mw text-xl font-fancy">
        <img src="/static/images/me5.jpg" class="block md:hidden rounded-full" style="height:86px; width:86px;">
        <h1 class="text-2xl font-bold -mb-1">Alasdair Monk</h1>
        <h2 class="text-2xl text-gray-500">Digital Product Strategy, Design &amp; Technology</h2>
      </vstack>
    </hstack>
    <hstack align-y="top" class="pt-8 mt-8">
      <div class="gutter hidden md:block flex-shrink-0 text-lg text-gray-500 text-left pr-10 leading-8">
      </div>
      <article class="text-gray-700">
        <p class="mb-8 leading-8 text-lg">I'm on a mission to make more computers more approachable by making things for makers. All too often computers become a hinderance to our creativity rather than conduits of it. I want to change that with my professional work and side projects.</p>
        <p class="mb-8 leading-8 text-lg">I am comfortable with the macro and the micro. From creating visions for entire businesses to prototyping out new features. My skill set of design craft, storytelling, programming &amp; technical knowledge helps me address problems, big or small. I thrive on ambiguity, uncharted territory and starting something from scratch.</p>
        <p class="mb-8 leading-8 text-lg">Right now I'm creating better Developer Experiences at <a class="" href="https://salesforce.com">Salesforce</a>, working specifically on our Platform &amp; Salesforce Functions. Previously, I worked on simplifying DevOps as UX Architect for <a class="" href="https://heroku">Heroku</a> and also made taking payments easy as head of design at <a class="" href="https://gocardless.com">GoCardless</a>. In my spare time I make apps at <a class=""" href="https://replay.software">Replay</a>.</p>
      </article>
    </hstack>
    <hstack align-y="top" class="mt-8">
      <div class="gutter hidden md:block flex-shrink-0 text-lg text-gray-500 text-left pr-10 leading-8">
      </div>
      <article class="text-gray-700">
        <div class="font-semibold mb-1 text-lg">
          Side projects
        </div>
        <p class="mb-4 leading-8 text-lg">
          I like to make stuff in my spare time, below are some of the things I'm most proud of;
        </p>
        <ul>
          <li class="mb-2 text-lg">
            <a href="https://umbra.replay.software" class="">Umbra</a> &mdash;
            <span class="italic">the missing mac app for dark mode</span>
          </li>
          <li class="mb-2 text-lg">
            <a href="https://almonk.github.io/pylon/" class="">Pylon</a> &mdash;
            <span class="italic">powerful layout utilities for CSS</span>
          </li>
          <li class="mb-2 text-lg">
            <a href="https://github.com/almonk/royo" class="">Royo</a> &mdash;
            <span class="italic">A self-hosted, configurable icons as a service server</span>
          </li>
          <li class="mb-2 text-lg">
            <a href="https://github.com/almonk/bind" class="">Bind</a> &mdash;
            <span class="italic">An experimental design tool <span class="text-gray-500">(2016, Retired)</span></span>
          </li>
          <li class="mb-2 text-lg">
            <a href="https://github.com/almonk/scribe" class="">Scribe</a> &mdash;
            <span class="italic">CSS documentation generator used in purple3 <span class="text-gray-500">(2018, Retired)</span></span>
          </li>
          <li class="mb-2 text-lg">
            <a href="https://github.com/almonk/edamame" class="">Edamame</a> &mdash;
            <span class="italic">A GUI for Heroku local <span class="text-gray-500">(2018, Retired)</span></span>
          </li>
        </ul>
      </article>
    </hstack>
    <hstack align-y="top" class="mt-8 pt-8">
      <div class="gutter hidden md:block flex-shrink-0 text-lg text-gray-500 text-left pr-10 leading-8">
      </div>
      <hstack spacing="m" class="social">
        <a href="https://twitter.com/almonk">
          <img height="28" width="28" src="https://unpkg.com/simple-icons@v3/icons/twitter.svg" />
        </a>
        <a href="https://github.com/almonk">
          <img height="28" width="28" src="https://unpkg.com/simple-icons@v3/icons/github.svg" />
        </a>
        <a href="https://medium.com/@almonk">
          <img height="28" width="28" src="https://unpkg.com/simple-icons@v3/icons/medium.svg" />
        </a>
        <a href="https://www.linkedin.com/in/alasdairmonk/">
          <img height="28" width="28" src="https://unpkg.com/simple-icons@v3/icons/linkedin.svg" />
        </a>
        <a href="https://instagram.com/almonk">
          <img height="28" width="28" src="https://unpkg.com/simple-icons@v3/icons/instagram.svg" />
        </a>
      </hstack>
    </hstack>
    <hstack align-y="top" class="mt-20" x-data="footerApp()">
      <div class="gutter hidden md:block flex-shrink-0 text-lg text-gray-500 text-left pr-10 leading-8"></div>
      <article class="text-gray-500 text-sm">
        &copy; <span x-text="getYear()"></span>  Alasdair Monk
      </article>
    </hstack>
    <script>
      function footerApp() {
      	return {
      		getYear: function() {
      			current_date = new Date()
      			cmm = current_date.getFullYear()
      			return cmm
      		}
      	}
      }
    </script>
  </body>
</html>
